# Hamoye Internship - Stage B (Data Engineering)

# Yaman Dahiya
# ID: 18998c116cc1f000

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [2]:
data = pd.read_csv("energydata_complete.csv")
data.head(10)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.20,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.500000,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.20,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.600000,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.20,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.700000,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.20,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.800000,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.20,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.900000,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
5,2016-01-11 17:50:00,50,40,19.890000,46.026667,19.20,44.500000,19.79,44.933333,18.890000,...,17.000000,45.29,6.016667,734.000000,92.000000,5.333333,43.833333,4.800000,44.919484,44.919484
6,2016-01-11 18:00:00,60,50,19.890000,45.766667,19.20,44.500000,19.79,44.900000,18.890000,...,17.000000,45.29,5.900000,734.100000,92.000000,5.000000,40.000000,4.700000,47.233763,47.233763
7,2016-01-11 18:10:00,60,50,19.856667,45.560000,19.20,44.500000,19.73,44.900000,18.890000,...,17.000000,45.29,5.916667,734.166667,91.833333,5.166667,40.000000,4.683333,33.039890,33.039890
8,2016-01-11 18:20:00,60,40,19.790000,45.597500,19.20,44.433333,19.73,44.790000,18.890000,...,17.000000,45.29,5.933333,734.233333,91.666667,5.333333,40.000000,4.666667,31.455702,31.455702
9,2016-01-11 18:30:00,70,40,19.856667,46.090000,19.23,44.400000,19.79,44.863333,18.890000,...,17.000000,45.29,5.950000,734.300000,91.500000,5.500000,40.000000,4.650000,3.089314,3.089314

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

Q15. From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the Root Mean Squared error in three D.P?

In [4]:
X = data[['T2']]
y = data['T6']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error:", "{:.3f}".format(rmse))

Root Mean Squared Error: 3.633

Q18. Remove the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a  random state of 42 (for reproducibility). Normalize the dataset using the MinMaxScaler (Hint: Use the MinMaxScaler fit_transform and transform methods on the train and test set respectively). Run a multiple linear regression using the training set. Answer the following questions:

What is the Mean Absolute Error (in three decimal places) for the  training set?

In [5]:
data = data.drop(columns=['date', 'lights'])
X = data.drop(columns=['Appliances'])
y = data['Appliances']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

model = LinearRegression()
model.fit(X_train_scaled, y_train)
y_train_pred = model.predict(X_train_scaled)

mae_train = mean_absolute_error(y_train, y_train_pred)
print("Mean Absolute Error (MAE) for the training set: {:.3f}".format(mae_train))

Mean Absolute Error (MAE) for the training set: 53.744

Q19. What is the Root Mean Squared Error (in three decimal places) for the training set?

In [6]:
y_train_pred = model.predict(X_train_scaled)
mse_train = mean_squared_error(y_train, y_train_pred)
rmse_train = np.sqrt(mse_train)
print("Root Mean Squared Error (RMSE) for the training set: {:.3f}".format(rmse_train))

Root Mean Squared Error (RMSE) for the training set: 95.216

Q20. What is the Mean Absolute Error (in three decimal places) for test set?

In [7]:
y_test_pred = model.predict(X_test_scaled)
mae_test = mean_absolute_error(y_test, y_test_pred)
print("Mean Absolute Error (MAE) for the test set: {:.3f}".format(mae_test))

Mean Absolute Error (MAE) for the test set: 53.645

Q21. What is the Root Mean Squared Error (in three decimal places) for test set?

In [8]:
y_test_pred = model.predict(X_test_scaled)
mse_test = mean_squared_error(y_test, y_test_pred)
rmse_test = np.sqrt(mse_test)
print("Root Mean Squared Error (RMSE) for the test set: {:.3f}".format(rmse_test))

Root Mean Squared Error (RMSE) for the test set: 93.640

Q22. Did the Model above overfit to the training set?
Ans. No

Q23. Train a ridge regression model with default parameters. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?
Ans.  Yes

In [9]:
ridge_model = Ridge()
ridge_model.fit(X_train_scaled, y_train)
y_test_pred_ridge = ridge_model.predict(X_test_scaled)

rmse_test_ridge = np.sqrt(mean_squared_error(y_test, y_test_pred_ridge))
print("Root Mean Squared Error (RMSE) for the test set with Ridge regression: {:.3f}".format(rmse_test_ridge))

Root Mean Squared Error (RMSE) for the test set with Ridge regression: 93.709

Q24. Train a lasso regression model with default value and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [10]:
lasso_model = Lasso()
lasso_model.fit(X_train_scaled, y_train)
feature_weights = lasso_model.coef_
num_non_zero_weights = np.sum(feature_weights != 0)
print("Number of features with non-zero feature weights:", num_non_zero_weights)

Number of features with non-zero feature weights: 4

Q25. What is the new RMSE with the Lasso Regression on the test set?

In [11]:
lasso_model = Lasso()
lasso_model.fit(X_train_scaled, y_train)
y_test_pred_lasso = lasso_model.predict(X_test_scaled)
rmse_test_lasso = np.sqrt(mean_squared_error(y_test, y_test_pred_lasso))
print("Root Mean Squared Error (RMSE) for the test set with Lasso regression : {:.3f}".format(rmse_test_lasso))

Root Mean Squared Error (RMSE) for the test set with Lasso regression : 99.424